input{
    border: none;
}

textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
  }

.addPost{
    display: flex;
    flex-direction: column;
}

.addPostContainer{
    width: 752px;
    border: solid;
}